<footer>
    <header class="header">
        <div class="container">
            <a href="/" class="logo">
                <img src="/assets/images/driven_white.svg" alt="Driven Garage">
            </a>
            <div class="cta">
              <h3>Need work done?</h3>
              <input class="form-modal" type="checkbox" id="form-modal"/>

              <label class="label-modal" for="form-modal">
                  <h4 class="s2">Open a Work Request  ></h4><h4 class="s1">X</h4>
              </label>
          </div>
        </div>
    </header>

    <article>
      <p>2051 Alpine Way</p>
      <p>Hayward, CA 94545</p>
      <h4 class="foot-tag">Small jobs, big jobs,
        all makes and models...
        <span class="hilite"> <i>Yes, even that one</i></span>
      </h4>
      </article>
      <div class="columns">
        <article>
          <p>Monday</p>
          <p>Tuesday</p>
          <p>Wednesday</p>
          <p>Thursday</p>
          <p>Friday</p>
          <p>Saturday</p>
          <p>Sunday</p>
          </article>
          <article>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>8:30am - 6:00pm</p>
            <p>By appointment</p>
            <p>Closed</p>
          </article>
        </div>

        <div class="gmap_canvas">
<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Driven+Garage&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
</iframe>
        </div>



</footer>