<!doctype html>
<html lang="{{ config.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driven Garage | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="Driven Garage | {{ title }}"/>
    <meta property="og:url" content="https://www.drivengarage.com{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
  {% if featuredImage | length %}
      {% ogImage featuredImage, "Alt text" %}
  {% endif %} 
    <meta property="og:type" content="article" />

    <link rel="stylesheet" href="{{ rootPath }}assets/css/driven.css">
    <link rel="icon" type="image/png" href="{{ rootPath }}assets/images/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CUbuntu:300,300italic,400,400italic,500,500italic,700,700italic%7CRoboto:300,regular,500" media="all">

    <!-- Swiffy Slider -->
    <script src="{{ rootPath }}assets/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="{{ rootPath }}assets/css/swiffy-slider.min.css">

    <!-- PhotoSwipe gallery -->
    <link rel="stylesheet" href="{{ rootPath }}assets/css/photoswipe.css">

    <!-- Flaticon icon fonts -->
    <link rel="stylesheet" href="{{ rootPath }}assets/css/flaticon/flaticon.css">

    {% if layout === 'post.njk' or layout === 'post-minimal.njk' %}
      <meta property="og:site_name" content="{{config.title}}" />
      <meta property="og:type" content="article" />
      <meta name="twitter:card" content="summary" />
      <meta property="og:title" content="{{ title }}" />
      <meta property="og:description" content="{{ description }}" />
      {% if permalink %}
        <meta property="og:url" content="https://{{config.domain}}{{ permalink }}" />
        {% else %}
        <meta property="og:url" content="https://{{config.domain}}{{ page.filePathStem }}/" />
      {% endif %}

      {% if featuredImage !== undefined %}
        <meta property="og:image" content="https://{{config.domain}}{{featuredImage}}" />
        {% else %}
        <meta property="og:image" content="https://{{config.domain}}/_images/default.jpg" />
      {% endif %}

    {% endif %}

  </head>

<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KD53YJNGHN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KD53YJNGHN');
  </script>