<nav id="main-navbar" class="navbar is-spaced has-background-dark" role="navigation" aria-label="main navigation">
    <a class="navbar-brand" href="/">
        <a role="button" class="navbar-burger has-dropdown" aria-label="menu" aria-expanded="false" data-target="mobile-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <img src="/assets/images/driven_white.svg" alt="Driven Garage">
    </a>
    <ul>
        <li>
            <a class="navbar-item" href="/"><span>Home</span></a>
        </li>
        <li class="has-dropdown">
            <a><span>Services</span></a>

            <ul class="navbar-dropdown">
                <li><a href="/services/performance-upgrades/"><span>Performance Upgrades</span></a></li>
                <li><a href="/services/repair-maintenance/"><span>Repair &amp; Maintenance</span></a></li>
                <li><a href="/services/body-paint-metalwork/"><span>Body, Paint &amp; Metalwork</span></a></li>
                <li><a href="/services/custom-fabrication/"><span>Custom Fabrication</span></a></li>
                <li><a href="/services/restoration/"><span>Restoration</span></a></li>
                <li><a href="/services/restomod/"><span>Restomod &amp; Full Builds</span></a></li>
                <li><a href="/services/car-audio-alarms/"><span>Car Audio and Alarms</span></a></li>
                <li><a href="/services/restyling/"><span>Restyling</span></a></li>
                <li><a href="/services/detailing/"><span>Detailing</span></a></li>
            </ul>
            <!-- END navbar-dropdown -->
        </li>


        <li>
            <a href="/projects/"><span>Projects</span></a>
        </li>
        <li>
            <a href="/how-we-work/"><span>How We Work</span></a>
        </li>
        <li>
            <a href="/about/"><span>About</span></a>
        </li>
    </ul>
    <div class="cta">
        <h3>Need work done?</h3>
        <button class="button is-primary slant js-modal-trigger" data-target="modal-js-example">
            <h4>Click for Estimate  &gt; </h4>
        </button>
    </div>
</nav>