
    <!-- Navigation bar -->
    <header class="header">
        <div class="container">




        <!-- Logo -->
        <a href="/" class="logo">
            <img src="/assets/images/driven_white.svg" alt="Driven Garage">
        </a>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="/"><span>Home</span></a></li>

                <li class="subnav-wrap">
                    <!-- dropdown -->
                    <input class="side-menu" type="checkbox" id="dropdown-menu"/>

                    <!-- <div class="subnav-drop"> -->

                    <label class="subnav" for="dropdown-menu">
                        <span class="subnavbtn">Services <i class="fa fa-caret-down"></i></span>
                    </label>



<!--
                    <span class="subnavbtn">Services <i class="fa fa-caret-down"></i></span>
-->
                    <div class="subnav-content">
                        <a href="/services/performance-upgrades/"><span>Performance Upgrades</span></a>
                        <a href="/services/repair-maintenance/"><span>Repair &amp; Maintenance</span></a>
                        <a href="/services/body-paint-metalwork/"><span>Body, Paint &amp; Metalwork</span></a>
                        <a href="/services/restoration/"><span>Restoration</span></a>
                        <a href="/services/restomod/"><span>Restomod &amp; Full Builds</span></a>
                        <a href="/services/car-audio-alarms/"><span>Car Audio and Alarms</span></a>
                        <a href="/services/restyling/"><span>Restyling</span></a>
                    </div>
                    <!-- </div> --> <!-- END subnav-drop -->
                </li>


                <li><a href="/projects/"><span>Projects</span></a></li>
                <li><a href="/how-we-work/"><span>How We Work</span></a></li>
                <li><a href="/about/"><span>About</span></a></li>
            </ul>

            <div class="cta">
                <h3>Need work done?</h3>
                <a href="/work-request" class="label-modal">
                    <h4 class="s2">Click for Estimate  &gt;</h4>
                </a>
                {% include "form-modal.njk" %}
            </div>

        </nav>

            
        </div><!-- END container-->

    </header>