{% block secCost %}

{% for cont in sectionCont %}
    {% if cont.pattern == "sec-cost" %}
<section class="services-cost">
    <div class="container">
        <header>
        {% if cont.title | length %}
            <h3>{{ cont.title | safe }}</h3>
        {% endif %}
            <p class="cost-subhead">Each job will be estimated individually, but here are some guidelines to help you budget</p>

        {% if cont.text | length %}
            {{ cont.text | safe }}
        {% endif %}
        </header>

        {% for fig in cont.figures %}
        {% if fig.icon|length %}
        <article>
            <figure>
                <img alt="Cost icon" loading="lazy" decoding="async" src="/assets/images/{{ fig.icon }}">
            </figure>
            {% if fig.title|length %}
            <h3>{{ fig.title }}</h3>
            {% endif %}
            {% if fig.subtitle|length %}
            <p>{{ fig.subtitle }}</p>
            {% endif %}
        </article>
        {% endif %}
        {% endfor %}

        {% if cont.CTAlabel|length %}
        <div class="cta">
            <input class="form-modal" type="checkbox" id="form-modal"/>
            <label class="label-modal" for="form-modal">
                <h4 class="s2">{{ cont.CTAlabel }}</h4><h4 class="s1">X</h4>
            </label>
        </div>
{% endif %}
    
    </div>
</section>

    {% endif %}
{% endfor %}

{% endblock secCost %}