{% block secCarsAll %}

<section class="carousel-cars">
    <div class="container">

    {% if bodyName == "cars" %}

        <div class="grid">
        {% for item in carsAll.cars %}
            {% set imgPostP = item.image %}
            {% set imgPostAlt = item.altText %}
            {% set imgSlidePos = item.position %}
            {% set imgSizesResp = "12" %}

            <div class="card">
                <figure>
            {% if imgPostP | length %}
                {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
            {% endif %}
                    <figcaption>
            {% if item.title|length %}
                {{ item.title | safe }}
            {% endif %}
                    </figcaption>
                </figure>
            </div>
        {% endfor %}        
        </div>


            
    {% else %}
        <h2>Cars we've had Our Hands on</h2>
        <div id="all-carousel-cars" class="swiffy-slider slider-item-helper slider-item-show4 slider-item-reveal slider-item-snapstart slider-item-nogap">
            <ul class="slider-container">
        {% for item in carsAll.cars %}
            {% set imgPostP = item.image %}
            {% set imgPostAlt = item.altText %}
            {% set imgSlidePos = item.position %}
            {% set imgSizesResp = "12" %}
                <li>
                    <div class="slide-box">
                        <a href="/cars">
                            <figure>
            {% if imgPostP | length %}
                {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
            {% endif %}
                                <figcaption>
            {% if item.title|length %}
                                    {{ item.title | safe }}
            {% endif %}
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </li><!-- END slide {{ loop.index }} -->
        {% endfor %}    
            </ul>
  
            <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button>
      
            <div class="slider-indicators">
                <button class="active"></button>
                <button></button>
                <button></button>
            </div>
          </div><!-- END swiffy-slider -->

    {% endif %}




    </div>
</section>

{% endblock secCarsAll %}