{% block services %}

{% for cont in sectionCont %}

    {% set imgPostP = cont.image %}
    {% set imgPostAlt = cont.altText %}
    {% set imgSizesResp = "(min-width: 1420px) 660px, 
    (min-width: 1220px) 564px, 
    (min-width: 1040px) 468px, 
    (min-width: 780px) 50vw, 
    calc(100vw - 24px)"
    %}
    {% set imgBkgP = cont.bkgImage %}
    {% set imgSlidePos = "cont-img" %}

    {% if cont.pattern == "sec-services" %}

<section class="services">
  <div class="container">
    {% if cont.title|length %}
    <h2>{{ cont.title | safe }}</h2>
    {% endif %}
    {% if cont.subtitle|length %}
    <h3>{{ cont.subtitle | safe }}</h3>
    {% endif %}
  </div>


  <div class="grid">
    {%- for post in collections[cont.collectionName] %}

    {% set imgPostP = post.data.featuredImage %}
    {% set imgPostAlt = post.data.featuredImageAlt %}
    {% set imgSizesResp = "(min-width: 1420px) 432px, 
    (min-width: 1220px) 368px, 
    (min-width: 1040px) 304px, 
    (min-width: 780px) calc(33.33vw - 16px), 
    calc(100vw - 24px)"
    %}

    {% if (post.data.title !== title) %}


    <div class="card">
        <a href="{{ post.url }}">

            
            <figure>
        {% if imgPostP | length %}
            {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
        {% endif %}   
            </figure>
            <figure class="halftone-overlay"></figure>

            

            <div class="card-overlay">
                <h3>{{ post.data.title }}</h3>
        {% if post.content | length %}
                {{ post.content | safe }}
        {% endif %}
                <div class="control">
                    click for more
                    <img src="/assets/images/i-link-arr.png" alt="Link to more">
                </div>
            </div>

        </a>
    </div>
    {% endif %}
  {%- endfor %}


  </div>
</section>

    {% endif %}
{% endfor %}


{% endblock services %}