{# {% set heroSlides = proj1 %} #}
{%set collectionNameLink = "projects/69-barracuda-formula-s/" %}


    {% if bodyName == "home" %}
        {% set heroSlides = proj1.slides %}
        {% set collectionName = featProjects %}
        {% set collectionNameLink = featProjectsUrl %}
    {% else %}
      {# {% set heroSlides = collections[collectionName] %} #}
    {% endif %}

<!--
<h1>
  bodyName: {{bodyName}}<br>
urlPath: {{urlPath}}<br> 
collectionName: {{collectionName}}<br>
heroSlides: {{heroSlides}}
</h1>
-->

<section class="projects">

    {% if bodyName == "home" %}
    <div class="container">

        <h2>Featured Projects</h2>
        <h3>Every build is infused with our blood and sweat. Taming metal and tuning performace.</h3>
        <a class="control" href="projects" target="_self">
            <span>click for more</span>
            <img src="{{ rootPath }}assets/images/i-link-arr.png" alt="Link to more">
        </a>
    </div>
    {% endif %}



    <div class="swiffy-slider slider-item-nogap slider-nav-caret slider-nav-dark slider-indicators-square slider-indicators-dark slider-nav-touch slider-nav-autopause slider-nav-animation slider-item-last-visible" id="infiniteSliding">
    <ul class="slider-container">


{# {%- for item in collections[data.proj1] %} #}


{# {% for heroSlides, item in heroSlides %} #}


{# {% for item in proj1.slides %}  works ONLY on Home #}


{% for item in heroSlides %}

    {# {%set pageSlideP = "./src/" %} #}
    {% if bodyName == "home" %}
      {% set pageSlideP = "./src/" %}
    {% else %}
      {% set pageSlideP = "./src"+page.url %}
    {% endif %}
    {% set imgSlideP = item.image %}
    {% set fullSlideP = pageSlideP+imgSlideP %}
    {% set imgSlideAlt = item.altText %}
    {# {% set imgSlidePos = "" %} #}
    {% set imgSizesResp = "12" %}

    {% if item.position | length %}
        {% set imgSlidePos = item.position %}
    {% else %}
        {% set imgSlidePos = "cont-img" %}
    {% endif %}

        <li class="slide-visible">
<!--            <a href="{{ collectionNameLink }}">  -->
  {% if item.title|length %}
          <div class="slide-box s{{ loop.index }}">
            <div class="columns">

    {% if item.slidelayout !== 1 %}
                <div class="columns">
                  {% if item.subtitle|length %}
                    <h4>{{ item.subtitle }}</h4>
                  {% endif %}
                  {% if item.title|length %}
                    <h3>{{ item.title }}</h3>
                  {% endif %}
                  {% if item.text|length %}
                    <p>{{ item.text | safe }}</p>
                  {% endif %}
                </div>

              
        {% if item.image|length %}
                    <figure>
            {% image ""+fullSlideP, ""+imgSlideAlt, ""+imgSlidePos, ""+imgSizesResp %}
                    </figure>
        {% endif %}
              </div>

      {% else %}

        {% if item.image|length %}
                    <figure>
            {% image ""+fullSlideP, ""+imgSlideAlt, ""+imgSlidePos, ""+imgSizesResp %}
                    </figure>
        {% endif %}

              <div class="columns">
                {% if item.subtitle|length %}
                  <h4>{{ item.subtitle }}</h4>
                {% endif %}
                {% if item.title|length %}
                  <h3>{{ item.title }}</h3>
                {% endif %}
                {% if item.text|length %}
                  <p>{{ item.text | safe }}</p>
                {% endif %}
              </div>

    {% endif %}

          </div><!-- END slide-box -->

  {% else %}

          <div class="slide-box s{{ loop.index }} slide-img-full">
        {% if item.image|length %}
                    <figure>
            {% image ""+fullSlideP, ""+imgSlideAlt, ""+imgSlidePos, ""+imgSizesResp %}
                    </figure>
        {% endif %}  
          </div>
  {% endif %}


<!--        </a> -->
        </li>
{% endfor %}

    </ul>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

    <div class="slider-indicators">
        <button class="active" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>




  {# {%set collectionName = "69BarracudaFormulaS" %} #}
  {# {%set collectionNameLink = "projects/69-barracuda-formula-s/" %} #}

{% if 1 == 0 %} {# TURN off TESTING #}

  {% if bodyName == "home" %}
    {%set loopLimit = 6 %}
  {% else %}
    {%set loopLimit = 100 %}
  {% endif %}
  
  <div class="grid">
        
    {% for cont in collections[collectionName] %}

        {% if (loop.index <= loopLimit) %}

            {% if cont.data.isHome !==1 %}  <!-- // Don't output if Home flag is true in index.md -->

                {# {%set pageP = "./src/"+collectionNameLink %} #}
                {% if bodyName == "home" %}
                  {% set pageP = "./src"+collectionNameLink %}
                {% else %}
                  {% set pageP = "./src"+page.url %}
                {% endif %}


                {%set imgP = cont.data.image %}
                {%set fullP = pageP+imgP %}
                {% set imgAlt = cont.data.altTag %}

    <div class="card">
        <a href="{{ collectionNameLink }}">

            <figure>
<!-- imgP: {{ imgP }} | fullP: {{ fullP }} -->                
        {% if imgP | length %}
            {% image ""+fullP, ""+imgAlt %}
        {% endif %}   
            </figure>

            <div class="card-overlay">
        {% if post.content | length %}
                {{ post.content | safe }}
        {% endif %}
                <div class="control">
                    click for more
                    <img src="/assets/images/i-link-arr.png" alt="Link to more">
                </div>
            </div>

        </a>
    </div>
        {% endif %}
    {% endif %}
  {%- endfor %}

{% endif %} {# TURN off TESTING #}

  </div>


</section>




{% if bodyName == "home" %}
  {%set loopLimit = 6 %}
{% else %}
  {%set loopLimit = 100 %}
{% endif %}



<section class="gallery-projects projects">
  <div id="gallery-{{collectionName}}" class="grid">

{% gallery collectionName %}

{% for cont in collections[collectionName] %}
  {% if (loop.index <= loopLimit) %}

  {% if cont.data.isHome !==1 %}  <!-- // Don't output if Home flag is true in index.md -->

{#    {%set pageP = "./src"+page.url %} #}  {# .src/projects/67-camaro-forsyth/ = adds './src' to page url #}
    {% if bodyName == "home" %}
      {% set pageP = "./src"+collectionNameLink %}
    {% else %}
      {% set pageP = "./src"+page.url %}
    {% endif %}

<!-- 69-cuda-1-1275.jpeg -->
    {%set imgP = cont.data.image %}  {# 67camaro_forsyth-0608.jpg = image file name #}
    {%set fullP = pageP+imgP %}  {# .src/projects/67-camaro-forsyth/67camaro_forsyth-0608.jpg = combines all for full img path #}
    {% set imgAlt = cont.data.altTag %}  {# 67 Camaro Forsyth before rear = sets imgAlt var with alt text string #}
    {% set imgSlidePos = "galLnk" %}
    {% set imgSizesResp = "(min-width: 1420px) 432px, 
    (min-width: 1220px) 368px, 
    (min-width: 1040px) 304px, 
    (min-width: 780px) calc(33.33vw - 16px), 
    calc(100vw - 24px)"
    %}

    <div class="card"><!-- loop {{loop.index}} -->
    <!-- href="/assets/images/{{imgP.slice(0, -4)}}-1275.jpeg"  -->

        <figure>
    {% if cont.data.image|length %}  {# Required to wrap in conditional statement to make it work #}
        {# {% image ""+fullP, ""+imgAlt, ""+imgSlidePos, ""+imgSizesResp %}   #}
        
        {# EXACT syntax neede pass src and alt vars to Image plugin #}




        {% galleryImage ""+fullP, ""+imgAlt %}  {# EXACT syntax neede pass src and alt vars to Image plugin #}
    {% endif %}

        </figure>

    </div>
      {% endif %}
    {% endif %}
{% endfor %}

{% endgallery %}

  </div>
</section>





