{% block media %}
<section class="media">
    <div class="container">
        <h2>Driven featured in the Media</h2>
        <h3>You may have seen us on your favorite show, blog, or magazine</h3>
    <div class="columns">
        <figure>
            <img src="{{ rootPath }}assets/images/l-Roadkill.png" alt="Roadkill">
        </figure>
         <figure>
            <img src="{{ rootPath }}assets/images/l-The-Drive.png" alt="The Drive">
        </figure>
         <figure>
            <img src="{{ rootPath }}assets/images/l-Mopar-Muscle.jpg" alt="Mopar Muscle">
        </figure>
    </div>
  </div>
</section>
{% endblock media %}