{% block secCont01 %}

    <section class="services half-split">



{% for cont in sectionCont %}

    {% set pattern = cont.pattern %}
    {% set trip = (loop.index)+1 %}
    {% set imgPostP = cont.image %}
    {% set imgPostAlt = cont.altText %}
    {% set imgSizesResp = "(min-width: 1420px) 660px, 
    (min-width: 1220px) 564px, 
    (min-width: 1040px) 468px, 
    (min-width: 780px) 50vw, 
    calc(100vw - 24px)"
    %}
    {% set imgBkgP = cont.bkgImage %}
    {% set imgSlidePos = "cont-img" %}

    {# {% if ( (cont.pattern == "sec-2col-pos1") and (cont.slidelayout== "1") ) or (cont.pattern == "sec-2col-pos3") and (cont.slidelayout== "1") %} #}

    {% if ( (pattern == "sec-2col-pos1") and (loopNum == 1) ) or ( (pattern == "sec-2col-pos2") and (loopNum == 2) ) or ( (pattern == "sec-2col-pos3") and (loopNum == 3) )   %}

        {% if cont.secTitle|length %}
            <h2>{{ cont.secTitle | safe }}</h2>
        {% endif %}

        {% if (loop.index)%2 == 0 %}  {# loop.index(4)%2 = 0 EVEN   loop.index(5)%2 = 1 ODD #}

        <article>
            <figure>
                {% if imgPostP | length %}
                    {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
                {% endif %}
            </figure>
            <div class="column">
                {% if cont.title|length %}
                    <h3>{{ cont.title | safe }}</h3>
                {% endif %}
                {% if cont.text|length %}
                    <p>{{ cont.text | safe }}</p>
                {% endif %}
                {% if cont.CTAlabel|length %}
                <div class="cta">
                    <input class="form-modal" type="checkbox" id="form-modal"/>

                    <label class="label-modal" for="form-modal">
                        <h4 class="s2">{{ cont.CTAlabel }}</h4><h4 class="s1">X</h4>
                    </label>
                </div>
                {% endif %}
            </div>
        </article>

        {% else %}

        <article>
            <div class="column">
                {% if cont.title|length %}
                    <h3>{{ cont.title | safe }}</h3>
                {% endif %}
                {% if cont.text|length %}
                    <p>{{ cont.text | safe }}</p>
                {% endif %}
                {% if cont.CTAlabel|length %}
                <div class="cta">
                    <input class="form-modal" type="checkbox" id="form-modal"/>

                    <label class="label-modal" for="form-modal">
                        <h4 class="s2">{{ cont.CTAlabel }}</h4><h4 class="s1">X</h4>
                    </label>
                </div>
                {% endif %}
            </div>
            <figure>
                {% if imgPostP | length %}
                    {% image ""+imgPostP, ""+imgPostAlt, ""+imgSlidePos, ""+imgSizesResp %}
                {% endif %}
            </figure>
        </article>

        {% endif %}

    {% endif %}
{% endfor %}

    </section>


{% endblock secCont01 %}