{% block process %}

<section class="process">
  <div class="container">
    <h2>How We Work</h2>
    <h3>Getting your car worked on is easier than ever - Here's how you do it</h3>

    <article>
        <div class="columns">
            <i class="icon flaticon-car-search"></i>
            <h5><span>1</span> Get a Quote</h5>
            <p>Tells us what's wrong with your car or work you want done. We'll shoot back a detailed estimate that includes diagnosis, parts, and labor.</p>
        </div>
        <div class="columns">
            <i class="icon flaticon-autolift"></i>
            <h5><span>2</span> Approve Repairs</h5>
            <p>Once you approve the estimate, we'll book an appoitment to drop off your car and our team will get to work.</p>
        </div>
        <div class="columns">
            <i class="icon i-timesheet">
                <img src="/assets/images/i-timesheet.svg" alt="timesheet">
            </i>
            <h5><span>3</span> Time is Money</h5>
            <p>Only pay for time our team is working on your car. We use strict time tracking to ensure you won't pay extra. </p>
        </div>
        <div class="columns">
            <i class="icon flaticon-fix-sign"></i>
            <h5><span>4</span> Hit the Road</h5>
            <p>Our certified team will fix your car and get you back on the road.</p>
        </div>
    </article>
  </div>
</section>



{% endblock process %}