---
layout: base.njk
title: Home layout
---
{% block hero %}
    {% include "hero-home.njk" %}
{% endblock hero %}

{% block services %}
    {% include "sec-services.njk" %}
{% endblock services %}

{% block process %}
    {% include "sec-process.njk" %}
{% endblock process %}

{% block projects %}
    {% include "sec-projects.njk" %}
{% endblock projects %}

{% block reviews %}
    {% include "sec-reviews.njk" %}
{% endblock reviews %}

{% block media %}
    {% include "sec-media.njk" %}
{% endblock media %}