---
layout: base.njk
title: Home layout
---
{% block hero %}
    {% include "hero-home.njk" %}
{% endblock hero %}

{% block services %}
    {% include "sec-services.njk" %}
{% endblock services %}

{% block process %}
    {% include "sec-process.njk" %}
{% endblock process %}

{% block projects %}
    {% include "sec-projects.njk" %}
{% endblock projects %}

