---
layout: base.njk
title: Page layout
---
{% include "hero.njk" %}

{% if bodyName != 'how-we-work' %}
<section class="page-content">
    <div class="container">

        {% if header|length %}
        <h2>
            {{ header | safe }}
        </h2>    
        {% endif %}

        {% if subheader|length %}
        <h3>
            {{ subheader | safe }}
        </h3>
        {% endif %}

        {% if content|length %}
            {{ content | safe }} 
        {% endif %}
    </div>
</section>
{% endif %}


{% if bodyName == 'about' %}
    {% set loopNum = 1 %}
    {%set useInclude = 'sec-cont01.njk' %}
{% elseif bodyName == 'how-we-work' %}
    {%set useInclude = 'sec-timeline.njk' %}
{% elseif bodyName == 'work-request' %}
    {%set useInclude = 'sec-photos.njk' %}
{% endif %}

{% include ('sec-photos.njk' if bodyName == 'cars' else useInclude) %}