---
layout: base.njk
title: Restomod Layout
bodyName: restomod
sectionCont:
  - pattern: hero-home
    title: 
    subtitle: "Step 1: Build spec / design" 
    image: ./src/projects/67-dart-vader/67_dart_vader_graffiti.jpg
    altText: 67 Dart Vader three quarters front left graffiti
    link: /projects/67-dart-vader/
    position: m-top-15
    text: Pick your powerplant and we’ll make it happen. We’re specialists in modern engine swaps into classic cars - from mild to wild and oddball combos, we love making your classic better with an engine swap. We know the right parts to make it all work seamlessly and make awesome power and reliability. 
    slidelayout:
  - pattern: hero-home
    title: 69 Cuda
    subtitle: "Step 2: Disassembly / Media blast / condition assessment"
    image: ./src/_images/69-cuda-5.jpg
    altText: 69 Cuda
    link: /projects/69-barracuda-formula-s/
    position: m-top-20
    text: Pick your powerplant and we’ll make it happen. We’re specialists in modern engine swaps into classic cars - from mild to wild and oddball combos, we love making your classic better with an engine swap. We know the right parts to make it all work seamlessly and make awesome power and reliability. 
    slidelayout:
  - pattern: hero-home
    title: 55 Buick
    subtitle: "Step 3: Metalwork / Modification / Pre-assembly & Fit"
    image: ./src/_images/55_buick_front_left.jpg
    altText: 55 Buick
    link: /projects/55-buick/
    position: m-top-15
    text: Pick your powerplant and we’ll make it happen. We’re specialists in modern engine swaps into classic cars - from mild to wild and oddball combos, we love making your classic better with an engine swap. We know the right parts to make it all work seamlessly and make awesome power and reliability. 
    slidelayout:
  - pattern: hero-home
    title: 67 Camaro
    subtitle: "Step 4: Bodywork / Block Sand / Refinement"
    image: ./src/_images/67-camaro_forsyth_front_right.jpg
    altText: 67 Camaro
    link: /projects/67-camaro-forsyth/
    position: m-top-30
    text: Pick your powerplant and we’ll make it happen. We’re specialists in modern engine swaps into classic cars - from mild to wild and oddball combos, we love making your classic better with an engine swap. We know the right parts to make it all work seamlessly and make awesome power and reliability. 
    slidelayout:
  - pattern: hero-home
    title: 67 Camaro
    subtitle: "Step 5: Prime and Block Sand"
    image: ./src/_images/67-camaro_forsyth_front_right.jpg
    altText: 67 Camaro
    link: /projects/67-camaro-forsyth/
    position: m-top-30
    text: Pick your powerplant and we’ll make it happen. We’re specialists in modern engine swaps into classic cars - from mild to wild and oddball combos, we love making your classic better with an engine swap. We know the right parts to make it all work seamlessly and make awesome power and reliability. 
    slidelayout:
---
{% block hero %}
    {% include "hero-home.njk" %}
{% endblock hero %}

    {% if introHead | length %}
    <section class="{{ collectionName }}">
        <div class="container">
            <h2>{{ introHead | safe }}</h2>

        {% if intro | length %}
            {{ intro | safe }}
        {% endif %}
        </div>
    </section>
    {% endif %} 

<style>

html {
    scroll-behavior: smooth;
}
section.hero .slide-box {
    height: 19rem;
    min-height: 36rem;
  }


@media(min-width:1406px) {
    section.nav-links {
        width: 94%;
        margin: 0 auto;
    }

}



















section.nav-links .tab-nav ul li:hover a {
    color: #ffffff;
}
section.nav-links .tab-nav ul li:hover a > i {
    background-color: #4a4a4a;
    transition: 0.3s;
}

section.nav-links .tab-nav ul li.active a {
    color: #ffffff;
}
.tab-cont-head {
    position: sticky;
    top: 68px;
    /* display: none; */
    padding: 0.5rem 0 0.5rem 2rem;
    background-color: #e4e4e4;
    z-index: 9;
}
@media(max-width: 768px) {
    .tab-cont-head {
        top: 188px;
    }
}
.tab-cont-head.active {
    background-color: #F7983B;
}
.tab-cont-head h2 {
    /* display: none; */
    /* padding: 0.5rem 0 0.5rem 2rem; */
    font-size: 1.6rem;
    font-weight: 600;
    font-style: italic;
    /* background-color: #F7983B; */
}
.tab-cont-head h2.active {
    display: block;
}



.tab-cont {
    padding: 1rem 2rem 1rem 0;
}

section.nav-links .slide-box {
    min-height: 50%;
    max-height: 100%;
    background: rgb(211 211 211 / 0%);
}
.sec-wrap {
    margin: 2.3rem 0 0 0;  /* 8rem 0 0 0; */
    min-height: 3rem;
}


/* MOBILE */
@media(max-width: 768px) {
    section.nav-links {
        width: 100%;
    }
    section.nav-links .tab-nav {
        top: 60px;
    }
    .tab-cont-head.active + .sec-wrap {
        width: 100%;
        margin: 10rem 0 0 0;
    }
    section.nav-links .tab-nav ul {
        flex-wrap: wrap;
    }
}



</style>


<section class="nav-links">

    <div class="tab-nav">
        <ul>
            <li class="step1">
                <a href="#step1">
                    <span>Step <i>1</i></span>
                </a>
            </li>

            <li class="step2">
                <a href="#step2">
                    <span>Step <i>2</i></span>
                </a>
            </li>

            <li class="step3">
                <a href="#step3">
                    <span>Step <i>3</i></span>
                </a>
            </li>

            <li class="step4">
                <a href="#step4">
                    <span>Step <i>4</i></span>
                </a>
            </li>

            <li class="step5">
                <a href="#step5">
                    <span>Step <i>5</i></span>
                </a>
            </li>           

            <li class="step6">
                <a href="#step6">
                    <span>Step <i>6</i></span>
                </a>
            </li>  

    

        </ul>

    </div>


    <section id="step1">
        <div class="tab-cont-head step1">
            <h2 class="step1">1: Design & Discovery</h2>
        </div>
        <div class="sec-wrap half-split">
        <!-- Step 1: Design & Discovery -->
            <article>
                <div class="column">
                    <div id="slider1" class="swiffy-slider slider-indicators-round slider-nav-visible slider-indicators-dark slider-item-last-visible slider-item-first-visible">  
                        <ul class="slider-container">
                            
                            <li>
                                <div class="slide-box">
                                            {% image "./src/_images/Alberto_hand_rend.jpg", "Alberto hand rendering" %}
                                </div>
                            </li><!-- END slide 1 -->

                            <li>
                                <div class="slide-box">
                                            {% image "./src/_images/Brass_Tacks_rend.jpg", "Brass Tacks rending" %}
                                </div>
                            </li><!-- END slide 2 -->
                    
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/Malibu_disassembly.jpg", "Malibu disassembly" %}
                                </div>
                            </li><!-- END slide 3 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/C10_yellow_disassembly.jpg", "C10 yellow disassembly" %}
                                </div>
                            </li><!-- END slide 4 -->



                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->

                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Build spec / design</h3><!-- (Step 1) -->
                        <p>For a full custom build this may be the most important part of the process as it gives the project a vision to move forward. We’ll not only spec the nuts and bolts components like engine and transmission, suspension, cooling and fuel systems - but also define the stance, body modifications, color and interior designs. We work with each client to realize their vision and our professional design team will offer a set of drawings that brings tasteful mods that will stand the test of time.</p>
                        <p>Just like that guy on TV we provide a set of drawings done by hand that work through the design vision and choices that influence the entire build. We start with a line drawing from several views of the stock vehicle - then through a series of loose sketches we refine the stance, wheel choice and modification ideas. Ultimately after several design reviews with you we refine the design to a set of finished renderings that show what the whole package will look like in the end. It’s a fun process!</p>
                        <h3>Disassembly / Media blast / condition assessment</h3><!-- (Step 2) -->
                        <p>The first thing we do is completely disassemble the car. Every nut, bolt, piece of glass, wires, piece of trim is removed, cataloged and marked. Along the way we take notes for broken bolts, missing parts etc. From here we start a list of what we will need to complete your job in detail. Once the car is back from the media blaster - We will assess body damage and metalwork required - and which panels will be replaced or repaired.</p>    
                    </div>
                </div>
            <article>
        </div>
    </section>


    <section id="step2">
        <div class="tab-cont-head step2">
            <h2 class="step2">2: Metal & Body Work</h2>
        </div>
        <div class="sec-wrap half-split">
        <!-- Metal & Body Work -->
            <article>
                <div class="column">
                    <div id="slider2" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_green_build_stand.jpg", "67 Nova green build stand" %}
                                </div>
                            </li><!-- END slide 1 -->
                    
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/bodywork_tools.jpg", "bodywork tools" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/Mustang_teal_bodywork.jpg", "Mustang teal bodywork" %}
                                </div>
                            </li><!-- END slide 3 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Metalwork / Modification / Pre-assembly & Fit</h3><!-- Step 3 -->
                        <p>In this step we repair (or replace) all the damaged sheet metal and pre-assemble the car to fit all the panels either on the chassis or on a build stand and refine all the gaps for doors, fenders, trunk and hood. Even new reproduction panels sometimes require significant modifications in metal to ensure proper fit.</p>
                        <p>If we’re doing body modifications we do them all in this step and fully build the basic car with these mods to ensure all the panels fit and all the holes we don’t need and components we are changing fit. Sometimes we may fully build the car with the engine and transmission and even suspension so that all the modification can be done without any risk of scratching paint.</p>
                        <h3>Bodywork / Block Sand / Refinement</h3><!-- Step 4 -->
                        <p>Bodywork / Filler: Once everything is fit and we’re happy with the panel gaps and mods in metal we do our body filler work - We don’t call it “Bondo” and it’s not a bad word. Filler work is required to get the surface of all body panels closer to where we need them to be. Done properly, this filler can last 50+ years without issues.  Can we metalwork your car without using any filler? Totally - but that’s easily 800-1000 hours of labor to get there. Using modern body fillers - and making sure that our metalwork is within 1/16” or less we can get the same or better results in less time.</p>
                    </div>          
                </div>
            </article>

        </div>
    </section>





    <section id="step3">
        <div class="tab-cont-head step3">
            <h2 class="step3">3: Paint Prep</h2>
        </div>
        <div class="sec-wrap half-split">
            <!-- Paint Prep -->
            <article>
                <div class="column">
                    <div id="slider3" class="swiffy-slider slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/73_dart_paintbooth_prime.jpg", "73 Dart paintbooth prime" %}
                                </div>
                            </li><!-- END slide 1 -->
                            
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/Valiant_green_prime.jpg", "Valiant green prime" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_prime.jpg", "67 Nova prime" %}
                                </div>
                            </li><!-- END slide 3 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Prime and Block Sand</h3><!-- Step 5  -->
                        <!-- <h3>Prime round 1</h3> --><!-- 5.1 -->
                        <p><b>Prime round 1</b> We follow bodywork with an overall epoxy primer on every surface inside and out and apply a high build primer directly to the epoxy. This encapsulates the metal and filler bonding through and gives us a build of primer to start our block sanding work.</p>
                        <!-- <h3>Block sanding and finish body work</h3> --><!-- 5.2 -->
                        <p><b>Block sanding and finish body work</b> After primer we will re-assemble the panels and hand block sand with long-boards in 120 / 180 grit finish. At this stage we further refine the lines and bodywork to make every panel and gap laser straight and smooth.</p>
                        <!-- <h3>Prime round 2</h3> --><!-- 5.3 -->
                        <p><b>Prime round 2</b> Here we re-prime the entire exterior again after a clean and mask to fill in all the 180 grit sand scratches and build another layer of primer for further surface refinements. Here we spray a medium build surfacing primer after a thorough cleaning.</p>
                        <!-- <h3>Block sand… Again</h3> --><!--5.4 -->
                        <p><b>Block sand… Again</b> Now we switch to block sanding with 220 / 320 grit paper by hand again using longboards. This further smooths the surface of the primer and allows us to get all the final lines and finish very smooth.</p>
                    </div>          
                </div>
            </article>

            <article>
                <div class="column">
                    <div id="slider3-2" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_front_fender_fit.jpg", "67 Nova front fender fit" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_trunk_fit.jpg", "67 Nova trunk fit" %}
                                </div>
                            </li><!-- END slide 3 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_front_together_full.jpg", "67 Nova front together full" %}
                                </div>
                            </li><!-- END slide 3 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Final Paint Prep</h3><!-- Step 6 -->
                        <!-- 6.1 -->
                        <p><b>Final prime / Sealer</b> This is our final primer stage. At this point the car is taken back apart and a sealer coat is applied to all outside and inside surfaces. This final coat locks everything down and is what the base coat and clear coat will be applied to. We also use this last seal step to apply any urethane seam sealer to panel overlaps and seams.</p>
                        <!-- 6.2 -->
                        <p><b>Final sand</b> Final sand: After the sealer is applied, we wet sand all of the panels 600/800 grit to remove any “Orange Peel” and imperfections from the sealer coat and allow the scratches from this sanding round to act as the mechanical bond for the paint and clear coat.</p>

                        <h3>Final fit / Mock-up</h3><!-- Step 7 -->
                        <p>If we’re spraying a metallic color on the car - at this point we will paint and clear coat the inside of the panels and the door jambs, fender and trunk jambs so that we can spray the car together. This is an important step for metallic paints as when the base coat comes out of the gun - we want to ensure that the flakes are oriented in the right direction from fender to door, door to quarter panels, etc. On solid color cars with no metallic this is the only step we skip as we can just paint the panels and fit them after.</p>
                        <!-- 7.1  -->
                        <p><b>Clean and spray jambs</b> Clean everything 3x mask and spray all the insides of panels and the door jambs, fender jambs, and trunk jambs. We give everything 3 coats of base coat followed by 3-4 coats of high quality high solids clear coat.</p>
                        <!-- 7.2 --> 
                        <p><b>Assembly and panel align</b> After the jambs and insides are done - it’s time to put it all back together and align the panels for the metallic paint.  We’re sure you’ve seen cars that look like one panel is a bit “off” from the next - that’s because the shop skipped this step and painted a metallic color in pieces. The spray pattern needs to flow from panel to panel.</p>

                    </div>          
                </div>
            </article>

        </div>
    </section>    



    <section id="step4">
        <div class="tab-cont-head step4">
            <h2 class="step4">4: Paint / Clear coat / Finish</h2>
        </div>
        <div class="sec-wrap half-split">
            <!-- Paint / Clear coat / Finish -->
            <article>
                <div class="column">
                    <div id="slider4" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Chevelle_paintbooth_cleaning.jpg", "67 Chevelle paintbooth cleaning" %}                                </div>
                            </li><!-- END slide 1 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/Mustang_teal_paintbooth02.jpg", "Mustang teal paintbooth" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/66_Chevelle_silver_side_reflection.jpg", "66 Chevelle silver side reflection" %}
                                </div>
                            </li><!-- END slide 2 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                    <div id="slider4-2" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/blue_paintbooth.jpg", "blue paintbooth" %}
                                </div>
                            </li><!-- END slide 1 -->
                    
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/73_dart_paintbooth.jpg", "73 dart paintbooth" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/Camaro_choy_blue.jpg", "Camaro choy blue" %}

                                </div>
                            </li><!-- END slide 3 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->                    


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Painting and Finish</h3><!-- Step 8  -->
                        <p>It all comes down to this - All the work to get to this point has given us a solid foundation that is straight, smooth and ready to be finished. Most people think that we just sand a car real quick, prime it and spray on the paint - but in reality the actual painting process is the least labor intensive part of what we do. We do hundreds of hours of prep work to get here - and it’s under 20 hours of actual painting.  Here are the paint and finish steps we adhere to.</p>
                        <!-- 8.1 -->
                        <p><b>Clean, clean, clean again and mask</b> The spray booth needs to be cleaned and new filters installed. The car and body panels will be cleaned several times here. We can’t have any contaminants on the surface prior to paint. Any areas we are not painting are masked off.</p>
                        <p></p>
                        <!-- 8.2 -->
                        <p><b>Base coat and drop coat</b> We spray 3-4 coats of base coat - and for metallics do a final “drop coat” that ensures there is no striping or panel to panel issues with the metallics in the paint. We feature high quality paint products from Spies Hecker / Axalta for all of our  work.</p>
                        <!-- 8.3 -->
                        <p><b>Clearcoat</b> The first phase of clear coat consists of 3-4 coats of clear coat applied with proper flash times between coats. This provides the shine over the base coat and protects it from the sun / elements.</p>
<!-- 8.4 -->
                        <p><b>Wet sand</b> After the initial 3-4 coats of clear are laid down - we wet sand all of the outside surfaces with 800-1000 grit sandpaper by hand with blocks to remove the “orange peel” texture, and any imperfections. This mechanical sanding provides us with a mechanical adhesion for the final flow coat.</p>
<!-- 8.5 -->
                        <p><b>Flow coat</b> This is the final step of clear coat. We add 2-3 additional coats of clear coat to the wet sanded surfaces to add more depth and shine. We add a little more reducer to the clear allowing it to “flow” and level better.</p>
<!-- 8.6 -->
                        <p><b>Wet / dry sand for compound and polish</b> After the flow coat - the surface is smooth and glossy with little orange peel. But we take it a step further to make the surface smooth as a mirror. We start by wet sanding by hand with blocks the entire exterior 1,200 grit. We follow that up with 4 rounds of machine sanding using 1,500 grit, 2,000 grit, 2,500 grit and 3,000 grit.</p>
<!-- 8.7 -->
                        <p><b>Compound and polish</b> The wet / dry sand process has left the surface of the clear smooth - but now we have to shine it all back up and remove the 3000 grit scratches. This process involves using compound and polish in 3 steps with a rotary and orbital buffer. This gives the clear coat that wet and glossy look that we’re all aiming for.</p>
<!-- 8.8 -->
                        <p><b>Mask and spray urethane texture (optional)</b> For many jobs - we also spray the inside, and underneath of the car with a urethane texture coat. This coating is similar to pickup truck bed liner and offers protection from road debris, as well as heat and sound insulation.</p>
                    </div>          
                </div>
            </article>

        </div>
    </section>



    <section id="step5">
        <div class="tab-cont-head step5">
            <h2 class="step5">5: Re-assembly</h2>
        </div>
        <div class="sec-wrap half-split">
            <!-- Re-assembly -->
            <article>
                <div class="column">
                    <div id="slider5" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_bumper_install.jpg", "67 Nova bumper install" %}                                </div>
                            </li><!-- END slide 1 -->
                    
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/F150_blue_dash_Ross01.jpg", "F150 blue dash Ross" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/69_cuda_engine_install.jpg", "69 cuda engine install" %}
                                </div>
                            </li><!-- END slide 3 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/84_Camaro_RS_exhaust.jpg", "84 Camaro RS exhaust" %}
                                </div>
                            </li><!-- END slide 4 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_GTO_red_int_door.jpg", "67 GTO red int door" %}
                                </div>
                            </li><!-- END slide 5 -->

                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Exterior re-assembly</h3><!-- Step 9  -->
                        <p>Now that the paint work is all done - it’s time to install the chrome trim, stainless window moldings and bumpers, handles, door and window weatherstripping. We take great care not to scratch  all of our hard work putting the bright work back on. Glass will be installed at this point as well.</p> 
                        
                        <h3>Mechanical Assembly</h3><!-- Step 10  -->
                        <p>At this stage - the body and paint team hands the car over to the assembly team to put suspension brakes, engine, trans, etc back into the car. Since all the basic components have been fit already - we know there won’t be any surprises here.</p>
                        
                        <h3>Wiring / Plumbing / Exhaust</h3><!-- Step 11  -->
                        <p>Once the components are all in place we do all of the plumbing, wiring and electrical work. Wiring and plumbing can be as tedious and time consuming as prepping for paint. If it’s a restoration - we’ll use the factory harness or a reproduction and materials and routing similar to how the car was built. If we’re doing a Resto-Mod we will hide what we can and go to great lengths to make the harness neat, tidy and serviceable. The final part is usually exhaust - Whether a factory system or fully custom tig welded system or anything in-between. If we’re doing a stereo, or air conditioning - We’ll install it now as well.</p>
                        
                        <h3>Interior finish</h3><!-- Step 12  -->
                        <p>Once all the paint, mechanicals and electrical is complete - it’s off to interior for things like seat upholstery, headliner, carpet, door panels and the like. We will either send this out if it’s a full custom job to our preferred interior trim shop - or do some or all of it in house. Full custom jobs may take an interim step before paint to have panels fabricated then finished off and installed when the mechanicals and paint are complete.</p>
                        
                    </div>          
                </div>
            </article>

        </div>
    </section>


    <section id="step6">
        <div class="tab-cont-head step6">
            <h2 class="step6">6: Final Tuning & Delivery</h2>
        </div>
        <div class="sec-wrap half-split">
            <!-- Final Tuning & Deliveryy -->
            
            <article>
                <div class="column">
                    <div id="slider6" class="swiffy-slider slider-item-first-visible slider-indicators-round slider-nav-visible slider-indicators-dark">  
                        <ul class="slider-container">

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/63_Corvette_dk_blue.jpg", "63 Corvette dk blue" %}
                                </div>
                            </li><!-- END slide 1 -->
                    
                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/65_Mercury_Comet05.jpg", "65 Mercury Comet" %}
                                </div>
                            </li><!-- END slide 2 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/F100_truck_white.jpg", "F100 truck white" %}
                                </div>
                            </li><!-- END slide 3 -->

                            <li>
                                <div class="slide-box">
                                    {% image "./src/_images/67_Nova_pickup.jpg", "67 Nova silver pickup" %}
                                </div>
                            </li><!-- END slide 4 -->
                        </ul>
                    
                        <button type="button" class="slider-nav"></button>
                        <button type="button" class="slider-nav slider-nav-next"></button>
                    
                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div><!-- END swiffy-slider -->


                </div>
                <div class="column">
                    <div class="tab-cont">
                        <h3>Tuning and Validation</h3><!-- Step 13  -->
                        <p>Once the car is finished - it’s not over. The final steps are to start the engine, tune the carb and timing (or ECU in the case of a car with a modern engine swap) and test drive. We want to get a few miles on the car, and look everything over once more to make sure there are no issues, leaks, loose fasteners, etc. In the case of a full build we’ll want to put a minimum of 500 miles on the car and service it again before we hand you the keys. We know you’ve waited a long time to get here and are excited - but let us make sure it’s as close to 100 percent as it can be.</p>
                    </div>          
                </div>
            </article>

        </div>
    </section>

</section>



<!-- RESTOMOD tab scroll -->
<script>



// To Section
const navLinks = document.querySelectorAll(
'.tab-nav ul li a');


Array.from(navLinks).forEach(navLink => {
  const href = navLink.getAttribute('href');
  const section = document.querySelector(href);
  const offset = 10 + 20; // nav and offset 50 + 20

  navLink.onclick = e => {
    // get body position
    const bodyRect = document.body.getBoundingClientRect().top;
    // get section position relative
    const sectionRect = section.getBoundingClientRect().top;
    // subtract the section from body
    const sectionPosition = sectionRect - bodyRect;
    // subtract offset
    const offsetPosition = sectionPosition - offset;

    e.preventDefault();
    window.scrollTo({
      top: offsetPosition,
      behavior: 'smooth' });

    console.log("clicked: " + navLink.href + " | bodyRect: " + bodyRect + " sectionRect: " + sectionRect);

  };
});





function scrollToTargetAdjusted(){
    var element = document.getElementById('targetElement');
    var headerOffset = 45;
    var elementPosition = element.getBoundingClientRect().top;
    var offsetPosition = elementPosition + window.pageYOffset - headerOffset;
  
    window.scrollTo({
         top: offsetPosition,
         behavior: "smooth"
    });
}


const sections = document.querySelectorAll("section[id]");

// Add an event listener listening for scroll
window.addEventListener("scroll", navHighlighter);

function navHighlighter() {

  let scrollY = window.pageYOffset;
  
  sections.forEach(current => {
    const sectionHeight = current.offsetHeight;
    const sectionTop = (current.getBoundingClientRect().top + window.pageYOffset) - 50;
    sectionId = current.getAttribute("id");
    
    if (
      scrollY > sectionTop &&
      scrollY <= sectionTop + sectionHeight
    ){
      document.querySelector(".tab-nav ul li a[href*=" + sectionId + "]").classList.add("active");
      document.querySelector(".tab-cont-head." + sectionId).classList.add("active");
    } else {
        document.querySelector(".tab-nav ul li a[href*=" + sectionId + "]").classList.remove("active");
        document.querySelector(".tab-cont-head." + sectionId).classList.remove("active");
    }
  });
}


</script>