:root {
    --grid-max-width: 84rem; /* = 1344px */    /*  77.50rem = 1240px  */  /* Bulma 1344px */
    --grid-gutter: var(--space-s-l, clamp(1.13rem, 0.65rem + 2.39vw, 2.50rem));
    --grid-columns: 12;

    --space-3xs: clamp(0.31rem, 0.31rem + 0.00vw, 0.31rem);
    --space-2xs: clamp(0.56rem, 0.54rem + 0.11vw, 0.63rem);
    --space-xs: clamp(0.88rem, 0.85rem + 0.11vw, 0.94rem);
    --space-s: clamp(1.13rem, 1.08rem + 0.22vw, 1.25rem);
    --space-m: clamp(1.69rem, 1.62rem + 0.33vw, 1.88rem);
    --space-l: clamp(2.25rem, 2.16rem + 0.43vw, 2.50rem);
    --space-xl: clamp(3.38rem, 3.24rem + 0.65vw, 3.75rem);
    --space-2xl: clamp(4.50rem, 4.33rem + 0.87vw, 5.00rem);
    --space-3xl: clamp(6.75rem, 6.49rem + 1.30vw, 7.50rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, 0.20rem + 0.54vw, 0.63rem);
    --space-2xs-xs: clamp(0.56rem, 0.43rem + 0.65vw, 0.94rem);
    --space-xs-s: clamp(0.88rem, 0.74rem + 0.65vw, 1.25rem);
    --space-s-m: clamp(1.13rem, 0.86rem + 1.30vw, 1.88rem);
    --space-m-l: clamp(1.69rem, 1.40rem + 1.41vw, 2.50rem);
    --space-l-xl: clamp(2.25rem, 1.73rem + 2.61vw, 3.75rem);
    --space-xl-2xl: clamp(3.38rem, 2.81rem + 2.83vw, 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, 3.46rem + 5.22vw, 7.50rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.13rem, 0.65rem + 2.39vw, 2.50rem);

    /* ORIG BASE 18px
    --step--2: clamp(0.78rem, 0.77rem + 0.03vw, 0.80rem);
    --step--1: clamp(0.94rem, 0.92rem + 0.11vw, 1.00rem);
    --step-0: clamp(1.13rem, 1.08rem + 0.22vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.28rem + 0.37vw, 1.56rem);
    --step-2: clamp(1.62rem, 1.50rem + 0.58vw, 1.95rem);
    --step-3: clamp(1.94rem, 1.77rem + 0.87vw, 2.44rem);
    --step-4: clamp(2.33rem, 2.08rem + 1.25vw, 3.05rem);
    --step-5: clamp(2.80rem, 2.45rem + 1.77vw, 3.82rem);
    */

    /* BASE 16px  */
    --step--2: clamp(0.69rem, 0.66rem + 0.18vw, 0.80rem);
    --step--1: clamp(0.83rem, 0.78rem + 0.29vw, 1.00rem);
    --step-0: clamp(1.00rem, 0.91rem + 0.43vw, 1.25rem);
    --step-1: clamp(1.20rem, 1.07rem + 0.63vw, 1.56rem);
    --step-2: clamp(1.44rem, 1.26rem + 0.89vw, 1.95rem);
    --step-3: clamp(1.73rem, 1.48rem + 1.24vw, 2.44rem);
    --step-4: clamp(2.07rem, 1.73rem + 1.70vw, 3.05rem);
    --step-5: clamp(2.49rem, 2.03rem + 2.31vw, 3.82rem);

    /* COLORS */

    /* Alloy ORANGE Primary color */
    --primary: #f79837;

    /* CHARCOAL color */
    --charcoal: #363636;

    /* DARK GREY color */
    --dk-grey: #4a4a4a;

    /* MEDIUM GREY grad color */
    --md-grad-grey: #c8c8c8;

    /* MEDIUM DARK GREY color */
    --md-dk-grey: #dadada;

    /* MEDIUM GREY color */
    --md-grey: #eee;
 
    /* LIGHT GREY color */
    --lt-grey: #f5f5f5;

    /* VERY LIGHT GREY color */
    --v-lt-grey: #fafaf9;

    /* Link lite color */
    --link-lt: #DBDBE6;

}

.m-top-5 {
    margin-top: -5%;
}
.m-top-7 {
    margin-top: -7%;
}
.m-top-9 {
    margin-top: -9%;
}
.m-top-10 {
    margin-top: -10%;
}
.m-top-15 {
    margin-top: -15%;
}
.m-top-20 {
    margin-top: -20%;
}
.m-top-30 {
    margin-top: -30%;
}
.m-top-65 {
    margin-top: -65%;
}
@media screen and (max-width: 768px) {
    .m-top-15 {
        margin-top: -7.5%;
    }
    .m-top-20 {
        margin-top: -10%;
    }
    .m-top-30 {
        margin-top: -10%;
    }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
	font-family: Ubuntu, Helvetica, sans-serif;
    color: var(--dk-grey);
    font-weight: 400;
    line-height: 1.5;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, ul, dl, dd {
  margin: 0;
  padding: 0;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
ul {
    list-style: none
}
button {
    font-family: Ubuntu, Helvetica, sans-serif;
    border-radius: var(--space-3xs);
    border: none;
}
section {
    margin-bottom: var(--space-l)!important;
}

section .container h2 {
    font-size: var(--step-3);
    font-weight: 700;
}
section .container > *:last-child:not(header .cta) {
    margin-bottom: var(--space-m);
}


/* LARGER than MOBILE */
@media screen and (min-width: 769px) {
    section.reviews figure.halftone-overlay, 
    section.reviews figure.bkg-img {
        position: relative;
        overflow: hidden;
        z-index: -1;
    }
    section.pro-tips figure.bkg-img {
        max-height: 26rem;
        overflow: hidden;
        z-index: -1;
    }
}


/* HEADERS */
section.services-cost header h3, 
section.services-detail-cost-box-alt h2, 
section.cont-accordion h2 {
    margin-bottom: var(--space-2xs);
    width: fit-content;
    font-size: var(--step-3);
    font-weight: 500;
}
section.services-cost header h3 {
    border-bottom: 2px solid #f79837;
}
section.services-cost header .cost-subhead {
    margin-bottom: var(--space-s);
    font-size: var(--step--1);
}


/* NAVBAR content */

/* Header */
.header {
    background-color: var(--charcoal);
    /* z-index: 20; */
}

/* Logo */
.logo {
    display: inline-block;
    margin-top: var(--space-xs);
}




/* Nav menu */
@media (max-width: 768px) {
    .nav, 
    .subnav-content {
        display: none;
    }
}

.menu a, 
.menu li .subnav {
    display: block;
    position: relative;
    padding: var(--space-3xs) var(--space-xs);
    color: var(--link-lt);
    font-size: var(--step--1);
    font-weight: 500;
    text-transform: uppercase;
}

.menu a {
    padding: var(--space-3xs) var(--space-xs);
}
.menu li .subnav {
    padding: var(--space-2xs) var(--space-xs);
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}





/* Sub nav */
li.subnav-wrap {
    position: relative;
}
.subnav-content {
    display: none;
    width: 100%;
    padding-left: var(--space-s);
    background-color: var(--dk-grey);
    z-index: 1;
  }

.subnav-content a {
    text-decoration: none;
    /* padding: 0.5rem 2rem; */
    /* margin: 10px 0; */
}
.subnavbtn {
    padding-right: 1rem;
}

/* CTA nav */
.nav .cta, 
footer .cta, 
body.home section.hero .cta, 
article .cta, 
section.services-cost .container .cta {
    align-items: center;
    display: flex;
/*    margin-left: 4rem; */
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}
article .column .cta, 
section.services-cost .container .cta {
    margin-top: var(--space-s);
}

body.home .nav .cta h3, 
body.home .nav > .cta > .label-modal > h4.s2 {
    display: none;
}
body.home .nav > .cta > .label-modal {
    background: rgb(54 54 54 / 0%);
}
#form-modal {
    z-index: 100;
}


.nav .cta h3, 
footer .cta h3, 
body.home section.hero .cta h3, 
/* .nav .cta  */
.label-modal h4 {
    font-size: var(--step--1);
    font-weight: 500;
    text-transform: uppercase;
}
.nav .cta h3, 
footer .cta h3, 
body.home section.hero .cta h3 {
    margin-right: var(--space-s);
    color: var(--primary);
}

input[id=form-modal]:not(:checked) ~ .label-modal h4, 
.cta .label-modal h4 {
    color: #fff;
    transform: skew(24deg);
}

input[id=form-modal]:not(:checked) ~  .label-modal, 
.cta .label-modal {
    position: relative;
    right: 1rem;
    margin-left: var(--space-s);
    padding: var(--space-2xs) var(--space-xs);
    color: #fff;
    background-color: var(--primary);
    font-size: var(--step--0);
    border-radius: 4px;
    transform: skew(-24deg);

}


/* Menu Icon */

.hamb {
    cursor: pointer;
    float: right;
    padding: var(--space-m) var(--space-xs); 
}


.hamb-line {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}


/* Toggle menu icon */

/* Hide input checkbox */
.side-menu, 
.form-modal, 
.form-modal-step {
    display: none;
}
.side-menu:checked ~ nav {
    max-height: 100%;
}
.side-menu:checked ~ .nav, 
.side-menu:checked ~ .subnav-content, 
.side-menu:checked ~ .nav .menu .subnav-content {
    display: block;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* NAV Responsiveness */

@media (min-width: 768px) {
    section .container {
        max-width: var(--grid-max-width);
        margin: 0 auto;
    }
    .header .container {
        display: flex;
        max-width: var(--grid-max-width);
        margin: 0 auto;
        padding: var(--space-xs) 0;
    }
    .header .container > * {
        flex-grow: 1;
        justify-content: flex-end;
    }
 
    .nav, 
    .nav .menu {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        max-height: 100%;
    }
    .nav {
        justify-content: flex-end;
    }
    .nav .menu {
        margin-right: 4rem;
        z-index: 2;
    }
    .menu a, 
    .menu li .subnav {        
        border-radius: 4px;
    }

    .menu > li > a:hover {
        transform: skew(-24deg);
    }

    .menu a:hover, 
    .subnav:hover, 
    .side-menu:checked ~ .subnav {
        color: #fff;
        background-color: var(--primary);
    }
    .subnav:hover .subnavbtn:after, 
    .side-menu:checked ~ .subnav .subnavbtn:after {
        border-color: var(--link-lt);
    }


    .menu a:hover span, 
    .subnav:hover .subnavbtn, 
    li.subnav-wrap .subnavbtn {
        display: block;
        transform: skew(24deg);
    }


    /* Sub nav */
    li.subnav-wrap {
        transform: skew(-24deg);
    }
    .subnav-content {
        position: absolute;
        display: none;
        left: 0;
        width: max-content;
        padding-left: 0;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 8px 8px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    }

    .subnav-content a {
        color: var(--charcoal);
        white-space: nowrap;
        transform: skew(24deg);
    }
    .menu .subnav-content a:hover {
        color: var(--primary);
        background-color: var(--lt-grey);
        transform: skew(0deg);
    }
    .subnavbtn:after {
        position: absolute;
        content: " ";
        display: block;
        height: 0.625em;
        top: 50%;
        right: 0;
        margin-top: -0.4375em;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 0.625em;
        border: 3px solid transparent;
        border-top: 0;
        border-right: 0;
        
        border-color: var(--primary);
        border-radius: 2px;
        pointer-events: none;
    }


    .hamb {
        display: none;
    }

}



/* MODAL Work Request form */
body.work-request .modal {
    display: flex;
}


.modal {
    position: fixed;
    display: none;
/*    display: flex;  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 15;
}
.modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(10,10,10,.86);
    z-index: 10;
}
.modal-content {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 160px);
    margin: 0 20px;
    overflow: auto;
    z-index: 20;
}
.modal-content .box {
    display: block;
    padding: 0 0 1rem 0;
    color: #4a4a4a;
    background-color: #fff;
    /* border-radius: 6px; */
    border-radius: 0.4rem 0.4rem 0 0;
}
.modal-content h2 {
    padding: var(--space-xs);
    font-size: var(--step-1);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--primary);
    border-radius: 0.4rem 0.4rem 0 0;
}
.toggle-content > p {
    margin-bottom: var(--step-1);
}
.modal-content .row {
    display: flex;
    gap: var(--space-m);
    max-width: 84%;
    margin: 0 auto var(--space-m) auto;

}
.toggle-content {
    display: none;
    padding: 1rem;
}
body.work-request .toggle-content {
    display: block;
}

.img-wrap {
    text-align: center;
}
.icon {
    align-self: center;
    color: var(--primary);
/*    
    width: 100%;
    font-size: 6rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
*/
}
i.icon.i-timesheet img {
    max-width: 6.8rem;
    height: 9rem;
}
.img-wrap .icon:before {
    margin-left: 0;
    vertical-align: top;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 6rem!important;
}

.flaticon-car-search:before {
    content: "\f10b";
}
.img-wrap .icon.i-timesheet img {
    max-height: 8rem;
    /* margin: 0.3rem 0 0 0; */
}
.process-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--v-lt-grey);
}
.process-item h5, 
section.process article h5 {
    margin: 0;
    padding: 0 0 var(--space-3xs) 0;
    font-size: var(--step-0);
    font-weight: 500;
    color: #fff;
    background-color: var(--dk-grey);
}
.process-item h5 span, 
section.process article h5 span, 
section.faq-accordion .tab-label span, 
section.faq-accordion .tab-content span, 
section.cont-accordion .tab-label span {
    min-width: 3rem;
    min-height: 3rem;
    color: #fff;
    background: #f79837;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
}

.process-item h5 span, 
section.process article h5 span {
    margin: 0 0 0 -1.2rem;
    padding: 0.8rem 1.4rem;
}


.process-item p {
    padding: var(--space-3xs);
}


/* Modal TOGGLE */
.form-modal:checked ~ .modal {
/* body.work-request .form-modal ~ .modal */
    display: flex;
}

.form-modal-step:checked ~ .modal {
    display: none;
}


/* DEFAULT Step 1 ON  /  Step 2 off */
#step1-cont.toggle-content, 
.label-modal h4.s2 {
    display: block;
}
.label-modal h4.s1, 
#step2-cont .toggle-content {
    display: none;
}
.form-modal:checked ~ .label-modal h4.s1 {
    position: fixed;
    width: 3rem;
    height: 3rem;
    font-size: var(--step-2);
    font-weight: 700;
    color: var(--primary);
    z-index: 100;
}
/* Step 1 off  /  Step 2 ON */
.form-modal-step:checked ~ #step2-cont .toggle-content, 
.form-modal-step:checked ~ .cta .label-modal h4.s1, 
.form-modal:checked ~ .label-modal h4.s1 {
    display: block;
}
.form-modal-step:checked ~ #step1-cont.toggle-content, 
.form-modal-step:checked ~ .cta .label-modal h4.s2 {
    display: none;
}
body.work-request #step2-cont .toggle-content {
    display: block;
}

@media screen and (min-width: 769px) {
    .modal-card, .modal-content {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px;
    }
}





/* FOOTER */
footer {
  color: #fff;
  background-color: var(--charcoal);
  padding-bottom: var(--space-l);
}
.columns {
  display: flex;
  /* padding: var(--space-xs); */
}
.columns > * {
  /* flex-grow: 1; */
}
footer article {
  display: block;
  padding: var(--space-s);
}

@media (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    column-gap: var(--space-s);
    width: 100%;
    margin-top: var(--space-l);
    padding: 0 5%;
  }
  footer header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: var(--space-s);
  }
  footer article {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  h4.foot-tag {
    margin-top: var(--space-s);
    font-size: var(--step-0);
    font-weight: 500;
  }

  #mapid {
    width:800px;
    height:600px;
  }

}






/* HERO HOME content */
body.home section.hero, 
body.restomod section.hero {
    display: block;
}
body.home .slide-box, 
body.home .slide-box a > *, 
body.restomod .slide-box, 
body.restomod .slide-box a > *, 
section.projects .slide-box, 
section.projects .slide-box a {
    max-height: 36rem;
}
body.home .slide-box, 
body.restomod .slide-box, 
section.projects .slide-box {
    /* min-height: 36rem; */
    background-color: #d3d3d3;
    overflow-y: hidden;
}
body.home .slide-box a, 
body.restomod .slide-box a {
    display: grid;
    grid-template-areas: "overlayhero";
    align-items: end;
}
body.home .slide-box a > *, 
body.restomod .slide-box a > * {
    grid-area: overlayhero;
}
body.home .slide-box figure, 
body.restomod .slide-box figure, 
section.projects .slide-box figure {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
body.home .slide-box figure img, 
body.restomod .slide-box figure img, 
section.projects .slide-box figure img {
    width: 100%;
}
body.home .slide-overlay, 
body.restomod .slide-overlay {
    margin-bottom: 4%;

}
body.home .slide-overlay h1, 
body.home .slide-overlay h3, 
body.restomod .slide-overlay h1, 
body.restomod .slide-overlay h3 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; 
}
body.home .slide-overlay h1, 
body.restomod .slide-overlay h1 {
    display: table;
    margin: 0 auto;
    color: var(--primary);
    font-size: 4.2rem;
    letter-spacing: .04rem;
}
body.home .slide-overlay h1 span, 
body.restomod .slide-overlay h1 span {
    font-size: 2rem;
    vertical-align: middle;
}
body.home .slide-overlay h3, 
body.restomod .slide-overlay h3 {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: .04rem;
}

body.home section.hero header .cta-tag, 
body.restomod section.hero header .cta-tag {
    margin: 1rem 0 0 0.8rem;
    color: #fff;
    font-size: var(--step-0);
    font-weight: 400;
}
/* mobile HERO HOME content content */
@media screen and (max-width: 768px) {
    body.home .slide-box figure {
        max-height: 16rem;
        overflow: hidden;
    }
    body.home .slide-box figure img {
        min-height: 16rem;
        max-height: 16rem;
    }
    body.home .slide-overlay h1 {
        font-size: 2rem;
    }
    body.home .slide-overlay h3 {
        font-size: 1rem;
    }
}




/* HERO content */
section.hero {
    display: grid;
    grid-template-areas: "overlayhero"; 
    grid-template-columns: 10% 2fr 10%;
    align-items: center;
    column-gap: var(--space-s);
    width: 100%;
}
section.hero h1.title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: var(--step-3);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
    z-index: 1;
}

/* section.hero  */
figure.halftone-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/assets/images/bkg_halftone.svg) repeat-x;
}
section.hero figure.halftone-overlay {
    max-height: 13rem;
}

/* section.hero  */
figure.halftone-overlay, 
section.hero figure.bkg-img {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
section.hero figure.halftone-overlay, 
section.hero figure.bkg-img {
    max-height: 7.4rem;
}


/* mobile HERO content */
@media screen and (max-width: 768px) {
    section.hero {
        display: grid;
        grid-template-areas: "overlayhero"; 
        width: 100vw;
    }
    section.hero h1.title, 
    section.hero figure.halftone-overlay, 
    section.hero figure.bkg-img {
        grid-area: overlayhero;
        width: 100vw;
    }
    section.hero h1.title {
        z-index: 1;
    }
}
    


/* SERVICES content */

section.services {
    max-width: var(--grid-max-width);
    margin: 0 auto;
}
section.services .grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: var(--space-m);
}
@media screen and (min-width: 769px) {
    section.services .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* section.services */
.grid .card a {
    display: grid;
    grid-template-areas: "overlaycard";
    overflow: hidden;
}
/* section.services */
.grid .card a > * {
    grid-area: overlaycard;
}
.card-overlay, 
.card .halftone-overlay {
    color: #fff;
    transition: transform .3s;
    transform: translate3d(0,100%,0);
}

section.services figure.halftone-overlay {
    max-height: 19rem;
}

@media screen and (min-width: 769px) {
    .card:hover .card-overlay, 
    .card:hover .card-overlay h3,
    .card:hover .halftone-overlay {
        transform: translate3d(0,0,0);
    }
}
.card-overlay h3 {
    margin: 0;
    padding: 0.4rem;
    color: #f79837;
    background-color: #363636!important;
    font-size: 1.13rem;
    font-weight: 600;
    text-transform: uppercase;
    transform: translate3d(0,-100%,0);
    transition: transform .3s;   
}
.card-overlay p {
    padding: var(--space-s);
    font-size: var(--step-0);
}
.card-overlay .control, 
section a.control {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: var(--step--1);
}
.card-overlay .control {
    background-color: rgba(0,0,0,.33);
}
.card:hover .card-overlay {
    background: rgba(0,0,0,0.6);
}
section.services .card a > figure {
    height: 19rem;
}
.card a > figure {
    transition: transform .3s;
}
.card:hover a > figure {
    transform: scale(1.2);
}
.card a > figure >img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform .3s;
}
.card .control img {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.2rem 0 0 0.4rem;
}

/* mobile SERVICES grid */
@media screen and (max-width: 768px) {
    section.services > .container {
        padding: var(--space-s);
    }

    .card .card-overlay, 
    .card .card-overlay h3,
    .card .halftone-overlay {
        transform: translate3d(0,30%,0);
    
    }
    .halftone-overlay {
        display: none;
    }
    .card .card-overlay {
        background: rgba(0,0,0,0.6);
    }
}





section.half-split {
    max-width: var(--grid-max-width);
    margin: 0 auto;
}

.half-split article {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: repeat(auto-fill,minmax(clamp(48%, (400px - 100vw)*1000, 100%),1fr));
    grid-gap: var(--space-s);
    margin-bottom: var(--space-m);
    padding: 0;
}
.half-split article .column {
    padding: 1rem;
}

.half-split article figure {
    margin: 0;
    padding: 0.75rem;

}
.half-split article h3 {
    width: fit-content;
    margin-bottom: var(--space-s);
    font-size: var(--step-2);
    font-weight: 500;
    border-bottom: 2px solid var(--primary);
} 
.half-split article p, 
.half-split li {
    font-size: var(--step-0);
    line-height: 2rem;
}
.half-split ul {
    list-style: disc;
}
.half-split li {
    margin-bottom: var(--space-xs);
}


/* PROCESS content */
section.process h2 {
    color: var(--primary);
}
section.process article {
    display: block;
    
}
section.process .columns {
    flex-direction: column;
}
section.process .columns h5 {
    z-index: 2;
}
section.process .columns p {
    flex-grow: 1;
    padding: var(--space-xs);
    background-color: var(--lt-grey);
}

/* mobile PROCESS */
@media screen and (min-width: 769px) {
    section.process article {
        display: flex;
        gap: var(--space-m);
    }
    section.process .columns {
        width: 25%;
    }
}




/* Featured Projects */
section .container {
    position: relative;
}
section a.control {
    align-items: center;
    gap: var(--space-2xs);
}

body.home section.projects .slide-box {
    background-color: rgb(248 248 248);
}

section.projects .slide-box a > .columns > * {
    width: 50%;
}

section.projects .columns .columns {
    flex-direction: column;
    /* padding: 3rem 5rem 1rem 5rem; */
    padding: var(--space-xl) var(--space-2xl) var(--space-s) var(--space-2xl);
    line-height: 2rem;
}
section.projects h4 {
    margin-bottom: var(--space-xs);
    font-size: var(--step--1);
    letter-spacing: .24rem;
}
section.projects .slide-box h3 {
    margin-bottom: var(--space-l);
    color: var(--primary);
    font-size: var(--step-2);
    font-weight: 500;
}
section.projects p {
    margin-bottom: var(--space-xs);
    line-height: 1.6rem;
}

section.projects .slide-box li::before {
    content: "\2022";
    color: var(--primary);
    font-weight: 700;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

section.projects .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-m);
    max-width: var(--grid-max-width);
    margin: var(--space-m) auto 0 auto;
}



/* REVIEWS content */
section.reviews {
    /* display: grid; */
    grid-template-areas: 
    "header"
    "overlayreviews";
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 769px) {
    section.reviews {
        display: grid;
    }
}

section.reviews header {
    grid-area: header;
    background-color: var(--charcoal);
}
section.reviews a.control {
    color: var(--link-lt);
}
section.reviews h2 {
    color: var(--primary);
}
section.reviews header h3 {
    color: #fff;
}


section.reviews figure {
    grid-area: overlayreviews;
}
section.reviews figure.halftone-overlay {
    max-height: 14rem;
}
figure.bkg-img {
    max-height: 7rem;
}
@media screen and (max-width: 768px) {
    section.reviews figure.bkg-img {
        display: none;
    }
}


section.reviews > .container {
    grid-area: overlayreviews;
}
section.reviews .swiffy-slider li {
    display: flex;
}
.carousel-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: var(--space-m);
    background-color: var(--md-grey);
}


/* MEDIA mentions content */
section.media .columns {
    margin-top: var(--space-s);
    gap: var(--space-m);
}
section.media .columns > * {
    flex-grow: 1;
}
section.media figure img {
    max-width: 70%;
}



/* PRO TIPS content */

@media screen and (min-width: 769px) {
    section.pro-tips {
        display: grid;
        grid-template-areas: "overlaydemo"; 
        grid-template-columns: 10% 1fr 2fr 10%;   /* grid-template-columns: 1fr 3fr 5fr 1fr; */
        column-gap: var(--space-s);
    }
}
section.pro-tips header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: var(--charcoal);
}

section.pro-tips .know-tips, 
section.pro-tips main {
    max-width: var(--grid-max-width);
    margin: 0 auto;
}
.know-tips {
    display: flex;
    justify-content: space-between;
}

.know-tips h3 {
    font-size: var(--step-2);
    font-weight: 500;
    color: #fff;
}
.know-tips span.hilite {
    margin: 0.6rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}
span.hilite {
    display: inline-block;
    position: relative;
    padding: 0 0.4rem 0 0.2rem;
    background: var(--primary);
    transform: skew(-8deg);
    z-index: 4;
}
span.hilite i:before {
    left: -4%;
    transform: rotate(4deg) translatey(-0.5em);
}
span.hilite i:after {
    left: 0;
    transform: rotate(4deg) translatey(1em);
}
span.hilite i:after, span.hilite i:before {
    display: inline-block;
    position: absolute;
    background: var(--primary);
    content: "";
    opacity: .5;
    height: 70%;
    width: 100%;
}
span.hilite i:after, span.hilite i:before {
    z-index: -1;
}

section.pro-tips3 > * {
    grid-area: overlaydemo;
}
section.pro-tips figure.cont-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
section.pro-tips article {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: var(--step-0);
    color: #ffffff;
}
section.pro-tips figure.cont-img, 
section.pro-tips article {
    margin-top: var(--space-s);
}
section.pro-tips figure.bkg-img {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

@media screen and (max-width: 768px) {
    section.pro-tips figure.bkg-img {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    section.pro-tips {
        background-color: var(--charcoal);
    }
    .know-tips {
        padding: 0 var(--space-2xs);
    }
    .know-tips span.hilite {
        font-size: 0.8rem;
    }
    section.pro-tips article {
        padding: var(--space-s);
    }
}


/* FIX ME - overlaps nav at top */
figure.bkg-img::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
section.hero figure.bkg-img::after {
    background: rgba(0,0,0,0.4)!important;
}
figure.bkg-img img {
    width: 100%;
    object-fit: cover;
}
section.pro-tips article .tips-subhead {
    margin-bottom: var(--space-xs);
    font-size: var(--step--1);
    font-weight: 300;
    color: var(--md-grey);
}
section.pro-tips article h4 {
    margin-bottom: var(--space-xs);
    font-size: var(--step-1);
    color: var(--primary);
}
section.pro-tips article p {
    font-weight: 300;
}



/* COST section content */

section.services-cost, 
section.cont-accordion .tab-content, 
section.services-detail-cost-box-alt {
    /* position: relative;
    margin: var(--space-2xs); */

    /* background-color: var(--lt-grey); */

    background-image: linear-gradient(180deg,var(--lt-grey) 40%,var(--md-grad-grey));
}
@media screen and (min-width: 769px) {
    section.services-cost .container {
        display: grid;
        max-width: var(--grid-max-width);
        margin: 0 auto;
        padding: var(--space-m);
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--space-s); 
    }
}
section.services-cost .container > *:last-child {
    /* margin-bottom: 0; */

}
section.services-cost header {
    font-size: var(--step-0);
}


section.services-cost article {
    max-height: 16rem;
    margin: var(--space-m);
    padding: var(--space-s);
    font-size: var(--step-0);
    text-align: center;
    background-color: #fff;
    filter: drop-shadow( var(--space-2xs) calc(var(--space-2xs) * -1) 0px #f79837);
}
section.services-cost article > * {
    margin: 0 auto;
}

section.services-cost article figure {
    max-width: var(--space-3xl);
    margin-bottom: var(--space-s);
}
section.services-cost article h3 {
    /* margin: 0 1rem 1rem 0; */
    font-size: var(--step-1);
    font-weight: 600;
    color: #363636;
}
section.services-cost article p {
    font-size: var(--step--2);
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    section.services-cost {
        padding: var(--space-s);
    }
    section.services-cost article {
        margin: var(--space-l);
    }
}


/* FAQ accordion section content */

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.tab-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
}
.tab input:checked ~ .tab-content {
    opacity: 1;
    display: flex;
    max-height: 10rem;
    margin-bottom: var(--space-m);
}
  
.tab-label,
.tab-close {
    display: flex;
    cursor: pointer;
 }
.tab-label, 
.tab-content {
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);
    padding: var(--space-xs);
    font-size: var(--step-0);
    border-radius: 4px;
}
.tab-label {
    color: #fff;
    background: var(--charcoal);
}
.tab input:checked + .tab-label span {
    background: var(--md-dk-grey);  
}
  
.tab-label > p, 
.tab-content p {
    flex-grow: 1;
}
  
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}
.tab input:checked + .tab-label::after {
    transform: rotate(270deg);
}
section.faq-accordion .tab-content p {
    margin: 0;
    padding: 1rem;
}
.tab-close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
  
  /* Arrow animation */
.tab input:not(:checked) + .tab-label:hover::after {
    animation: bounce .5s infinite;
}
@keyframes bounce {
    25% {
      transform: rotate(90deg) translate(.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-.25rem);
    }
}


/* CONTENT accordion section */
section.cont-accordion .tab input:checked ~ .tab-content {
    opacity: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: var(--space-s);
    align-items: start;
    max-height: 100rem;
}
section.cont-accordion .tab h4 {
    margin-bottom: var(--space-s);
    font-weight: 500;
}
section.cont-accordion .tab p, 
section.cont-accordion .tab-content li {
    padding-right: var(--space-s);
}
section.cont-accordion .tab-content li, 
section.cont-accordion .tab-content p {
    margin-bottom: var(--space-xs);
    font-size: var(--step--1);
}


/* COST BOX Alt services-detail-cost-box-alt */
section.services-detail-cost-box-alt {
    padding: var(--space-m) 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    background-color: #fff;
    color: #363636;
}
.table thead, 
.table tbody {
    background-color: transparent;
}
.table th:not([align]) {
    text-align: inherit;
}
.table td, .table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
}

section.services-detail-cost-box-alt {
    margin: 0 0 8rem 0;
}
.column.detail-cost-box-cont {
    position: relative;
}
section.services-detail-cost-box-alt p {
    margin-bottom: 1rem;
}
section.services-detail-cost-box-alt table {
    width: 100%
}

.scroll-container {
    overflow: auto;
    margin: 3rem auto 2rem auto;
}
.scroll-container h3 {
    background-color: #f79837;
    padding: 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}

.scroll {
    margin: 0;
}
.scroll th:first-of-type {
    position: sticky;
    left: 0;
    border-left: none;
    background: #f4f4f4;
    color: #212121;
    font-weight: bold;
}
.scroll th:first-of-type:after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  width: 1px;
  background: #000;
}
.scroll th:last-of-type {
  border-right: none;
}










/* PHOTOS all carousel-cars */
section.carousel-cars .slider-item-helper:not(.slider-item-ratio) .slider-container > * {
    min-height: 2rem;
}

section.carousel-cars .slide-box {
    max-width: 22rem;
/*
    max-height: 11rem;
    width: auto;
*/
}

section.carousel-cars .slide-box figure {
    display: grid;
    align-items: end;
    grid-template-areas: "overlayslide";
}
section.carousel-cars .slide-box figure > * {
    grid-area: overlayslide;
}
section.carousel-cars .slide-box figure img {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;


    object-fit: cover;
    aspect-ratio: 16 / 9;
}
section.carousel-cars figure figcaption {
    padding: var(--space-3xs) var(--space-xs);
    background: rgba(255,255,255,.45);
}


/* CARS grid photo wall */
section.carousel-cars .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-m);
    margin-top: var(--space-m);
}

section.carousel-cars figure img {
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
body.cars section.carousel-cars figure figcaption {
    font-weight: 500;
    background-color: var(--md-dk-grey);
}



/* Restomod/Full Builds section */

section.nav-links section {
    /* height: 75vh; */
    min-height: 75vh;
    width: 100%;
    padding: 0;
    background-color: rgb(248 248 248);
    border: 1px solid #ffffff;
}
section.nav-links .tab-nav {
    position: sticky;
    top: 0;
    min-height: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: var(--space-xs) 0 0 0;
    /* background-color: #eef0f1; */
    background-color: #ffffff;
    z-index: 10;
}
section.nav-links section p {
    margin: 0 0 var(--space-s) 0;
    font-size: var(--step--1);
    line-height: 1.8rem;
}
section.nav-links .tab-nav ul {
    display: flex;
    justify-content: center;
}
section.nav-links .tab-nav ul li a {
    display: block;
    margin: 0 var(--space-xs);
    padding: var(--space-3xs) var(--space-2xs);
    background-color: #e4e4e4; /* rgb(228 228 228); */
    transform: skew(-24deg)!important;
    color: #363637;
    border-radius:4px;
    text-decoration: none;
}
section.nav-links .tab-nav ul li a.active {
    background-color: var(--primary);
    transition: 0.3s;
}
section.nav-links .tab-nav ul li a span {
    display: flex;
    align-items: center;
    transform: skew(24deg);
}
section.nav-links .tab-nav ul li a > span i {
    width: 3rem;
    height: 3rem;
    margin: 0 0 0 0.2rem;
    padding: 0 0.6rem;
    color: #ffffff;
    background: #8e8e8e;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    font-style: normal;
  }

/*
* PROJECTS section
*/

body.projects section.services .card a > figure {
    height: 16rem;
}
/*  PROJECT DETAIL gallery-project Modal fullscreen caption nav SECTION  */
.pswp__custom-caption {
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    color: #fff;
    width: calc(100% - 32px);
    max-width: 400px;
    padding: 2px 8px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
  }
  .pswp__custom-caption a {
    color: #fff;
    text-decoration: underline;
  }
  .hidden-caption-content {
    display: none;
  }


/* PAGE content */
.page-content p, 
body.about article p {
    margin-bottom: var(--space-xs);
}

body.about section.half-split {
    
}

section.half-split h2 {
    margin-top: var(--space-l)!important;
    margin-bottom: var(--space-s);
    font-size: var(--step-3);
    font-weight: 700;
}

body.about section.half-split article {
    display: grid;
    grid-gap: var(--space-s);
    margin-bottom: var(--space-m);
    padding: 0;
}
body.about section.half-split article:nth-child(even) {
    grid-template-columns: 70% 30%;
}
body.about section.half-split article:nth-child(odd) {
    grid-template-columns: 30% 70%;
}


/*  WORK REQUEST content  */
body.work-request section.page-content, 
body.work-request .toggle-content {
    height: 100%;
}

#shopmonkey-form {
    display: block;
    width: 100%;
    height: 880px;
}
@media screen and (max-width: 768px) {
    #shopmonkey-form {
        height: 1000px;
    }
}