---
layout: page.njk
title: Oops! Not Found
permalink: 404.html
bodyName: notfound
description: Driven Garage nothern California restomod auto customization and repair shop
featuredImage: ./src/_images/67_dart_vader_graffiti.jpg
featuredImageAlt: 67 Dart Vader three quarters front left graffiti
featuredImagePos: m-top-20
header: 
---
<h2>Oops! Not Found</h2>
<p>Sorry this isn't what you are looking for. Please go <span class="hilite"> <i><a href="/">Home</a></i></span> to locate another page.</p>
    
<div class="cta">
    <h3>Need work done?</h3>
    <a href="/work-request" class="label-modal">
        <h4 class="s2">Submit a Work Request  &gt;</h4>
    </a>
</div>